<div id="pl-dropdown-{{uuid}}" class="pl-dropdown dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

{{#options}}
	    <a class="dropdown-item" href="#">{{.}}</a>
{{/options}}

	  </div>
</div>