<div id="pl-dropdown-{{uuid}}" class="pl-dropdown form-group">
    <select name="{{answer-key}}" class="form-control">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

{{#options}}
    <option value="{{.}}">{{.}}</option>
{{/options}}

    </select>
</div>